{% extends "base_entries.html" %}


{% block add_form %}
  {% if session.username %}
    <form action="/add_entry" method="post" id="add-entry">
      
        <input type="hidden", name="author", value="{{ session.username }}">
        <input type="hidden", name="redirect_url", value="{{ request.url }}">
        <input type="text" size="70" name="title">
        <textarea name="text" rows="6" cols="80" ></textarea> <input type="submit" value="Post it" class="post_button">
      
    </form>
    <br class="clear">
  {% endif %}
{% endblock %}
